body {
  font-family: Papyrus, sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

h1 {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

h2 {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

p {
  width: 60%; /* or use max-width */
  margin: 0 auto; /* centers the block horizontally */
  text-align: left; /* aligns text inside the block to the right */
}